@keyframes lettering-fill {
    to {
        fill: #be253f;
    }
}

@keyframes lettering-trace {
    to {
        stroke-dasharray: 3000;
        stroke-dashoffset: 0;
    }
}

body {
    background-color: #ffead4;;
    
    margin: 0;

    overflow-x: hidden;
}

.container-header {
    width: 100vw;
}

    .lett-header {
        width: 80%;

        position: absolute;
        left: 50%;

        margin-top: 10%;

        fill: transparent;
        transform: translate(-50%);

        animation: lettering-fill 0.5s ease-in-out forwards 4s;
    }

        .lett-header path {
            stroke-width: 2px;
            stroke: #be253f;
            stroke-dasharray: 3000;
            stroke-dashoffset: 3000;

            animation: lettering-trace 4s ease-in-out forwards 1.5s;
        }